body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    /* position: relative; */
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_small{
    display: flex;
    align-items: center;
}

.compass{
    margin-bottom: 8px;
}

.house{
    margin-bottom: 21px;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_link:hover{ 
    font-weight: bold;
    /* text-decoration: underline; */
}

.header_button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;

}

.header_button-white{
    width: 160px;
    height: 48px;
    border: none;
    background: #FFFFFF;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
}

.header_button:hover{
    cursor: pointer;
    transition: 500ms;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #293ce4;
  
}

.header_link1:hover::before{
    content: '1';
    font-size: 25px;
    color: #3040C4;
    position: absolute;
    top: 20px;
    left: 20px;
}

.header_link2:hover::after{
    content: '2';
    font-size: 25px;
    color: #3040C4;
    position: absolute;
    top: 20px;
    left: 20px;
    /* width: 50px;
    height: 50px;
    border-radius: 50%; */
}

.intro{
    background-color: #F4F5F7;
}

.intro1{
    background-color: #F3C6BD;
}

.intro-1, .intro-2{
    max-width: 555px;
}

.intro-1{
    margin: 77px 29px 76px 130px;
}

.intro-2{
    margin: 77px 131px 76px 29px;
}

.intro-1 h3, .intro-2 h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.intro-1 p, .intro-2 p{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.preview{
    margin-top: 100px;
}

.header_small{
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    font-weight: bold;
    margin-bottom: 24px;
}

.caption{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 30px;
}

.p{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 42px;
}

.preview_text{
    max-width: 460px;
    position: relative;
}

.heading_small{
    font-size: 22px;
    line-height: 26px;
    color: #3142C6;
    font-weight: bold;
    margin-left: 15px;
}

.h3_small{
    font-weight: bold;
    margin-left: 15px;
    font-size: 22px;
    line-height: 26px;
    color: #2B292D;
}

.br{
    height: 3px; background-color: #3142C6;
    margin-bottom: 17px;
}

.text_small{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 17px;
}

.ouch{
    position: absolute;
    top: 930px;
}

.getstarted{
    padding-bottom: 77px;
}

/* .getstarted_text{

} */

.getstarted_png{
    z-index: 0;
}

.flex_header{
    display: flex;
    justify-content: space-between;

}

.flex_column{
    display: flex;
    flex-direction: column;
}

.getstarted_h4{
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
}